body {
  background-color: black;
  color: #FFF5EE; /* Seashell color */
  font-family: monospace; /* Terminal-like font */
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24pt;
}

#content {
  white-space: pre-line; /* Preserve line breaks */
  margin-bottom: 20px;
}

#links a {
  color: #FFF5EE;
  margin: 0 10px;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form input, form textarea {
  margin-bottom: 10px;
  padding: 5px;
}

.g-recaptcha {
  margin-bottom: 10px; /* Add margin to the reCAPTCHA */
}

/* Optional: Add more styles for form elements */
